.label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.hbox {
    -fx-border-width: 2;
    -fx-background-color: linear-gradient(to top, #337DFF, 	#6699CC);
    -fx-spacing: 200;
    -fx-min-height: 40;
}